.cardsSection {
  background-color: #bec4c7;
  display: flex;
  flex-direction: column;
  padding-right: 5%;

  gap: 40px;
}

.cardsSection h1 {
  padding-bottom: 10px;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 2rem;
}

.divCardsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  align-items: center;
  justify-content: left;
}
