* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-smoking: antialiazed;
  font-family: "Montserrat", sans-serif;
}

*:focus {
  outline: 0;
  box-shadow: 0 0 0 2px black;
}

.MainContainerPadding {
  maxwidth: 1440px;
  width: 100%;
  padding-top: 7%;
  padding-left: 15%;
}
