.cards {
  width: 30.5%;

  height: 120px;
  background-color: white;
  color: black;
  display: flex;
  gap: 5px;
  padding: 20px 30px;
  border-radius: 12px;
  font-size: 16px;
  line-height: 26px;
  justify-content: center;
  align-items: center;
}

.imgCheckCircle {
  display: flex;

  padding-top: 8px;
  height: 100%;
}

.imgCheckCircle img {
  height: 22px;
  width: 22px;
}

.cards span {
  height: 100%;
}
@media (max-width: 440px) {
  .cards {
    width: 260px;
    height: 103px;
    flex-direction: column;
  }
  .cards span {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;
  }
  .cards span strong {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;
  }
}
