section {
  max-height: 800px;
  background: black;
  display: flex;
  gap: 5%;
  color: white;
}

h2 {
  padding-top: 15%;
  padding-left: 15.25%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.paragraphContainerSection1 {
  padding-top: 8%;
}
p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 110.52%;
  /* or 22px */
  margin-bottom: 20px;

  color: #ffffff;
}
