.section1Container {
  padding-top: 4%;
  padding-right: 6%;
  padding-left: 6%;
  height: 800px;
  background: black;
  display: flex;
  gap: 13%;
  color: white;
  padding-right: 8%;
  justify-content: center;
}
.section1Container p {
  max-width: 604px;
}

h2 {
  padding-top: 3%;
  width: 214px;
  display: block;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.paragraphContainerSection1 {
  /* padding-right: 8%; */
  padding-bottom: 20px;
}
p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 110.52%;
  /* or 22px */
  margin-bottom: 20px;
  text-align: justify;

  color: #ffffff;
}
@media (max-width: 440px) {
  .section1Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  .section1Container h2 {
    width: 254px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
  }
  .paragraphContainerSection1 p {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: justified;
  }
}
