.section1Container {
  max-height: 800px;
  background: black;
  display: flex;
  gap: 17%;
  color: white;
  padding-right: 8%;
}

h2 {
  max-width: 214px;
  display: block;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 29px;
}

.paragraphContainerSection1 {
  /* padding-right: 8%; */
  padding-bottom: 20px;
}
p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 110.52%;
  /* or 22px */
  margin-bottom: 20px;
  text-align: justify;

  color: #ffffff;
}
