header {
  background-color: #f3f8fa;
  height: 100%;
}

.headerContainer {
  display: flex;
  padding-bottom: 3%;
}

.headerContainer:last-child {
  position: relative;
}

.heroImg {
  position: absolute;
  bottom: 0;
}

.firstContainer {
  max-width: 35%;

  margin-right: 32px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.logo {
  width: 122px;
  height: 68px;
}
